.footer {
    background-color: $Very-Dark-Blue;
    
    .main-footer-content {
        text-align: left;
        color: #fff;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}